@charset "UTF-8";

/* Limpar formatações padrão */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
    font-weight: bold;
}

/* Layout */
#navbar {
    background: #6A86D9;
    padding: 15px;
    text-align: center;
}

#logo {
    padding: 10px;
}

#menu {
    padding: 10px;
}

#principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#postagens {
    width: 660px;
    float: left;
}

.posts {
    padding: 20px;
    margin-bottom: 20px;
}

#menu-lateral {
    width: 240px;
    float: right;
}

#postagens, #menu-lateral {
    background: white;
}

.conteudo-lateral {
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

#footer {
    clear: both;
    background: #6A86D9;
    color: #112359;
    text-align: center;
    padding: 15px;
    
}

/* Formatação do menu */
a {
    text-decoration: none;
}

#navbar a:link, #navbar a:visited {
    color: #4E629F;
    padding: 8px 12px;
}

#navbar a:hover {
    color: #6A86D9;
    background: #1B378C;
}

a:link, a:visited {
    color: #4E629F;
}

/* Formatações em Geral */
h1 {
    color: #112359;
    font-size: 2.5em;
    font-family: 'Montserrat';
    font-weight: bolder;
}

h3 {
    background: #6A86D9;
    color: black;
    padding: 5px;
}

.branco {
    color: #1B378C;
}

.data-postagem {
    font-size: 0.7em;
    padding-bottom: 10px;
    display: block;
}



